.loadingProducts{
  text-align: center;
  margin: auto;
  display: block;
}

.productsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border: 3px solid black;
}

.productsCard {
    border: 3px black solid;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
    margin: 10px 10px;
    box-shadow: 4px -10px 30px black
}
.productItem {
    display: flex;
    justify-content: center;
}

.productsCard:hover {
    background-color: beige;
}

img.productImage {
    width: 200px;
    margin: auto;
    display: block;
}

.navBar {
    display: flex;
    justify-content: space-around;
}

.nav a {
    color: white;
    text-decoration: none;
}

.navBar li {
  list-style: none;
  font-size: 24px;
}

.nav {
    margin: 10px 10px;
    padding: 10px 0px;
}
a.cartCountLi {
    margin-right: 10px;
}
p.navTotalPrice {
    margin-top: 0px;
    margin-left: -100px;
}

.emptyCart {
    margin: -35px 331px;
}

.cartContainer {
    display: flex;
    justify-content: center;
}

.cartItem {
    display: flex;
    width: 33%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
h1.cartHeader {
    text-align: center;
}
h3.cartTotalPrice {
    text-align: center;
}

img.cartImage {
    width: 300px;
}
button.cartEmpty {
    display: block;
    margin: auto;
}
button.productItem.btn.btn-default {
    display: block;
    margin: auto;
}
h1.productHeader {
    text-align: center;
    font-size: 50px;
    background-color: cadetblue;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
