.loadingProducts{
  text-align: center;
  margin: auto;
  display: block;
}

.productsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border: 3px solid black;
}

.productsCard {
    border: 3px black solid;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    width: 33%;

}
